body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    /* background: #4c8fdf; */
    /* background: linear-gradient(180deg, #4c8fdf 0%, #236cc4 100%); */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.gh-png {
    width: 40px;
    height: 40px;
}

.content {
    overflow: hidden;
    margin-top: 64px;
}

.left-column {
    float: left;
    width: 53%;
}

.left-col-content {
    margin-top: 128px;
}

h2 {
    font-size: 40px;
    color: #000232;
    margin-bottom: 12px;
    margin-left: 24px;
}

.subtext {
    color: #656566;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 36px;
    line-height: 32px;
}

.second-line {
    margin-top: 24px;
}

.app-store-links {
    list-style: none;
    margin-left: 24px;
}

.app-store-links li {
    display: inline-block;
}

.app-store-links .app-store.mac img {
    margin-top: 24px;
}

.app-store-links .app-store img {
    height: 54px;
}

.app-store-links .app-store.android {
    margin-top: 12px;
    top: 12px;
    position: relative;
}

.app-store-links img.play-store {
    height: 80px;
}


.right-column {
    float: left;
    width: 47%;
}

.right-column img {
    height: 600px;
    margin: 48px 0 48px 130px;
    display: block;
}

.hero {
    overflow: hidden;
}

.hero a {
    display: inline-block;
    float: right;
    margin: 24px 24px 0 0;
}

/* Footer */

.footer {
    background: #000232;
    color: white;
    height: 120px;
    clear: both;
    letter-spacing: 0.8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}

.footer a, .footer a:visited, .footer a:hover, .footer a:active {
    color: white;
    text-decoration: none;
}

.copyright {
    float: left;
    margin-left: 24px;
    font-size: 15px;
    overflow: auto;
    line-height: 30px;
    resize: none;
    margin-top: 45px;
}

.footer-links {
    list-style: none;
    float: right;
    margin-right: 24px;
    margin-top: 51px;
    font-size: 15px;
}

.footer-link {
    display: inline-block;
    margin-left: 24px;
}

.mobile-agreement.disclaimer {
    font-size: 32px;
}

.mobile-agreement.eula, .mobile-agreement.privacy-policy {
    font-size: 28px;
}


body.legal {
    padding: 48px;
    font-size: 30px;
    line-height: 40px;
    max-width: 1024px;
    margin: 0 auto;;
}
