body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width: 414px) {
    .container {
        max-width: 414px !important;
        overflow-x: hidden;
    }
}

.gh-png {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 414px) {
    .gh-png {
        margin-top: 0px;
    }
}

.content {
    overflow: hidden;
    margin-top: 64px;
}

@media only screen and (max-width: 414px) {
    .content {
        margin-top: 0;
    }
}

.left-column {
    float: left;
    width: 53%;
}

@media only screen and (max-width: 414px) {
    .left-column {
        width: 100%;
    }
}

.left-col-content {
    margin-top: 128px;
}

@media only screen and (max-width: 414px) {
    .left-col-content {
        margin-top: 24px;
    }
}

h2 {
    font-size: 40px;
    color: #000232;
    margin-bottom: 12px;
    margin-left: 24px;
}

@media only screen and (max-width: 414px) {
    h2 {
        font-size: 36px;
        margin-right: 24px;
    }
}

.subtext {
    color: #656566;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 36px;
    line-height: 32px;
}

@media only screen and (max-width: 414px) {
    .subtext {
        margin-right: 24px;
    }
}

.second-line {
    margin-top: 24px;
}

.app-store-links {
    list-style: none;
    margin-left: 24px;
}

@media only screen and (max-width: 414px) {
    .app-store-links {
        width: 60%;
        margin: 32px auto 0 auto;
    }
}

@media only screen and (max-width: 414px) {
    li.app-store.ios {
        display: list-item;
        text-align: center;
    }

    li.app-store.android {
        display: list-item;
        text-align: center;
    }

    li.app-store.mac {
        display: list-item;
        text-align: center;
    }
}

.app-store-links li {
    display: inline-block;
}

.app-store-links .app-store.mac img {
    margin-top: 24px;
}

@media only screen and (max-width: 414px) {
    .app-store.mac img {
        margin-top: 0 !important;
    }
}

.app-store-links .app-store img {
    height: 54px;
}

.app-store-links .app-store.android {
    margin-top: 12px;
    top: 12px;
    position: relative;
}

@media only screen and (max-width: 414px) {
    .app-store.android {
        margin-top: 0px !important;
        top: 0px !important;
        position: relative;
    }
}

.app-store-links img.play-store {
    height: 80px;
}

/* Right Columns */

.right-column {
    float: left;
    width: 47%;
}

@media only screen and (max-width: 414px) {
    .right-column {
        display: none;
    }
}

.right-column img {
    height: 600px;
    margin: 48px 0 48px 130px;
    display: block;
}

.hero {
    overflow: hidden;
}

.hero a {
    display: inline-block;
    float: right;
    margin: 24px 24px 0 0;
}

/* Footer */

.footer {
    background: #000232;
    color: white;
    height: 120px;
    clear: both;
    letter-spacing: 0.8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 414px) {
    .footer {
        height: 110px;
    }
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}

@media only screen and (max-width: 414px) {
    .footer-container {
        max-width: 414px;
        overflow: hidden;
    }
}

.footer a, .footer a:visited, .footer a:hover, .footer a:active {
    color: white;
    text-decoration: none;
}

.copyright {
    float: left;
    margin-left: 24px;
    font-size: 15px;
    overflow: auto;
    line-height: 30px;
    resize: none;
    margin-top: 45px;
}

@media only screen and (max-width: 414px) {
    .copyright {
        font-size: 16px;
        overflow: auto;
        line-height: 22px;
        resize: none;
        margin-top: 12px;
        padding: 0;
        text-align: center;
    }
}

.footer-links {
    list-style: none;
    float: right;
    margin-right: 24px;
    margin-top: 51px;
    font-size: 15px;
}

@media only screen and (max-width: 414px) {
    .footer-links {
        margin-top: 28px;
        margin-right: 24px;
        font-size: 15px;
        line-height: 25px;
    }
}

.footer-link {
    display: inline-block;
    margin-right: 16px;
}

.mobile-agreement.disclaimer {
    font-size: 32px;
}

.mobile-agreement.eula, .mobile-agreement.privacy-policy {
    font-size: 28px;
}

/* body.legal {
    padding: 48px;
    font-size: 30px;
    line-height: 40px;
    max-width: 1024px;
    margin: 0 auto;;
} */
