@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

*, ::after, ::before {
  box-sizing: border-box;
}

@import "partials/header";
@import "partials/branding";
@import "partials/page-content";
@import "partials/footer";

html {
  box-sizing: border-box;
  font-family: sans-serif;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: #0B0C3E;
  color: #CFD1FF;
  background-image: linear-gradient(135deg, #0B0C3E 0%, #5395E3 100%);
  margin:0px;
  padding:0px;
}

.page{
  background: url(/img/background-icon.svg);
  background-size: 1038px 420px;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

.container{
  width: 100%;
  margin:0px auto;
  padding-left:18px;
  padding-right:18px;
  @media (min-width: 1250px) {
    max-width: 1214px;
  }
}