.branding{
  display: flex;
  align-content: center;
  .logo{
    align-self: center;
    .icon{
      svg{
        fill: #FFF;
        height: 20px;
      }
    }
    .text{
      padding-left:13px;
      color: #FFFFFF;
      font-size: 26px;
      font-weight: 300;
      letter-spacing: 4px;
      line-height: 31px;
      text-transform: uppercase;
      user-select: none;
    }
  }
}